apiVersion: v1
kind: Secret
metadata:
  name: cm-overlay
  namespace: tap-install
stringData:
  cm-overlay.yaml: |
    #@ load("@ytt:overlay", "overlay")
    #@overlay/match by=overlay.subset({"kind":"Pod"}), expects="0+"
    ---
    spec:
      #@overlay/match by=overlay.all, expects="0+"
      serviceAccount: "tap-gui"
      serviceAccountName: "tap-gui"