apiVersion: v1
kind: Secret
metadata:
  name: cm-tap-gui-sa-overlay
  namespace: tap-install
stringData:
  cm-tap-gui-sa-overlay.yaml: |
    #@ load("@ytt:overlay", "overlay")
    #@ def addImagePullSecret():
    #@overlay/match missing_ok=True
    imagePullSecrets:
    #@overlay/match missing_ok=True
    - name: private-registry-credentials
    #@ end

    #@ def addTestLabel():
    #@overlay/match missing_ok=True
    metadata: 
      #@overlay/match missing_ok=True
      labels:
        foo: bar
    #@ end 

    #@overlay/match by=overlay.subset({"kind":"ServiceAccount","metadata":{"name":"tap-gui", "namespace": "tap-gui"}}), expects="0+"
    --- 
    #! #@ addImagePullSecret()
    #@ addTestLabel()

   #! #@overlay/match by=overlay.subset({"metadata":{"name":"tap-gui"},"kind":"ServiceAccount"}), expects="0+"
   #! #@ add_orphan_annotation()