apiVersion: v1
kind: Secret
metadata:
  name: cm-tap-gui-sa-overlay
  namespace: tap-install
stringData:
  cm-tap-gui-sa-overlay.yaml: |
    #@ load("@ytt:overlay", "overlay")
    #@ def addImagePullSecret():
    #@overlay/match missing_ok=True
    imagePullSecrets:
    #@overlay/append
    - name: install-registry-dockerconfig
    #!- name: private-registry-credentials
    #@ end
 